.main-page{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}

.heading{
    margin-left: 40px;
    color: rgb(48, 54, 54);
}

.info-container{
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.281);
}